<header class="header">
  <div class="header__container">
    <!-- Left -->
    <div class="header__left">
      <a href="/html/homepage.html" class="header__logo">
        <img src="/img/logo.svg" alt="GSW Logo" class="header__logo-img" />
      </a>

      <div class="header__search">
        <i class="bx bx-search header__search-icon"></i>
        <input
          type="text"
          class="header__search-input"
          placeholder="Search..."
        />
      </div>
    </div>

    <!-- Nav -->
    <nav class="header__nav-wrapper">
      <ul class="header__nav">
        <li><a href="/html/homepage.html" class="header__nav-link">HOME</a></li>
        <li>
          <a href="/html/category.html" class="header__nav-link" id="category">CATEGORY</a>
          <div class="category__collabsible">
            <aside class="category__selections">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, hic.
            </aside>
            <div class="category__game-container">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, mollitia?
            </div>
          </div>
        </li>
        <li><a href="/html/faq.html" class="header__nav-link">FAQ</a></li>
        <li><a href="/html/about.html" class="header__nav-link">ABOUT</a></li>
      </ul>
    </nav>

    <!-- Right -->
    <div class="header__right">
      <div class="header__language">
        <i class="bx bx-globe"></i>
        <span>EN</span>
      </div>

      <a href="/html/cart.html" class="header__cart"><i class="bx bx-cart"></i></a>

      <button class="header__signin">Sign In</button>

      <div class="header__menu-toggle">
        <i class="bx bx-menu"></i>
      </div>
    </div>
  </div>
</header>