<footer class="footer">
  <div class="footer__container">
    <img src="/img/logo.svg" alt="footer-logo" class="footer-logo__logo-image">

    <div class="footer__right">
      <div class="footer-content">
        <p>2025 © GSW. ALL RIGHTS RESERVED.</p>
        <p>All trademarks are property of their respective owners in the US and other countries.</p>
        <p>VAT included in all prices where applicable.</p>
      </div>

      <div class="footer-icons">
        <img src="/img/icons/footer_star.png" alt="star1" class="footer-icon">
        <img src="/img/icons/footer_star.png" alt="star2" class="footer-icon">
        <img src="/img/icons/footer_star.png" alt="star3" class="footer-icon">
      </div>
    </div>
  </div>
</footer>