:root {
  --green-color: #00e122;
  --dark-green-color: #225557;
  --black-color: #070f1a;
  --text-color: #ffffff;
  --super-dark-green-color: #0f232c;
  font-size: 10px;
}


footer {
    height: 350px;
    background-image: linear-gradient(
        to bottom,
        var(--black-color),
        var(--dark-green-color)
    );
    padding: 30px 15px;
}

/* Border container */
.footer__container {

    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #D177F4, #4AB9BD) 1;
    width: 1400px;
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20%;
    margin: auto;
    padding: 20px 50px;
}

.footer-logo__logo-image {
    width: 120px;
    height: auto;
    left: 0;
}

.footer__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-content {
    font-family: "Roboto Flex";
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: #D2D9E3;
    background: linear-gradient(to right, #5ABABE, #AE71BF, #5ABABE);
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    position: relative;
    margin-bottom: 15px;
}

.footer-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer-icon {
    width: 20px;
    height: 20px;
}

/* Responsive */
/* Tablet */
@media screen and (max-width: 1024px) {

    footer{
        height: auto;
    }

    .footer__container {
        flex-direction: column;
        gap: 30px;
        margin: auto;
        height: auto;
    }

    .footer-logo__logo-image {
        width: 100px;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .footer-content {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
}
