/* ---------------------------------------------------
  Main Content
--------------------------------------------------- */
.main {
  width: 100%;
  padding: 1rem 2rem;
  margin-top: 30px;
}

.main__container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-template-rows: auto auto;
  gap: 2rem 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid var(--bg2);
  align-items: start;
}

@media (max-width: 1024px) {
  .main__container {
    grid-template-columns: 1fr 280px;
    gap: 1rem 1.5rem;
    padding: 0 1rem;
    padding-bottom: 4rem;
  }

  .cart-item {
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'image info'
      'pricing delete';
    gap: 0.75rem 1rem;
    padding: 1rem;
  }

  .cart-item__image {
    width: 80px;
    align-self: start;
    grid-area: image;
  }

  .cart-item__info {
    gap: 0.35rem;
    grid-area: info;
  }

  .cart-item__pricing {
    gap: 0.5rem;
    justify-content: flex-start;
    grid-area: pricing;
  }

  .cart-item__delete {
    padding: 0.25rem;
    justify-self: flex-end;
    align-self: center;
    grid-area: delete;
  }
}

@media (max-width: 767px) {
  .main__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1.5rem 0;
    padding: 0 2.8rem;
    padding-bottom: 2.5rem;
    border-bottom: none;
  }
}

/* ---------------------------------------------------
  Cart Section
--------------------------------------------------- */
.cart {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
  height: 100%;
}

.cart__title {
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: 3.1rem;
  font-weight: 700;
  margin: 0.2rem;
}

@media (max-width: 767px) {
  .cart {
    grid-column: 1;
    grid-row: 2;
  }
  .cart__title {
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
    font-size: 2.7rem;
  }
}

.cart-items {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ---------------------------------------------------
  Cart Item
--------------------------------------------------- */
.cart-item {
  background-color: var(--super-dark-green-color);
  border-radius: 5px;
  padding: 1.25rem 1.5rem;
  display: grid;
  grid-template-columns: 120px 1fr auto auto;
  gap: 1.25rem;
  margin-bottom: 0.8rem;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.cart-item__image {
  width: 120px;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
}

.cart-item__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-item__title {
  font-size: 1.8rem; 
  font-weight: 600;
  color: var(--text);
}

@media (max-width: 767px) {
  .cart-item__title {
    font-size: 1.6rem;
  }
}

.cart-item__genres {
  font-size: 1.4rem;
  color: var(--text);
}

.cart-item__release {
  font-size: 1.4rem;
  color: var(--text);
}

@media (max-width: 767px) {
  .cart-item__genres,
  .cart-item__release {
    font-size: 1.2rem;
  }
}

.cart-item__pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.cart-item__discount {
  background-color: red;
  color: var(--text);
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1.2px;
}

@media (max-width: 767px) {
  .cart-item__discount {
    font-size: 1.3rem;
    padding: 0.25rem 0.5rem;
  }
}

.cart-item__price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: auto;
  padding: 0.5rem 0;
  gap: 0.35rem;
}

@media (max-width: 767px) {
  .cart-item__price-wrapper {
    align-items: flex-start;
    padding: 0;
  }
}

.cart-item__price--old {
  font-size: 1.4rem;
  color: var(--green);
  text-decoration: line-through;
}

.cart-item__price--new {
  font-size: 1.9rem;
  color: var(--green);
  font-weight: bold;
  letter-spacing: 1.6px;
}

.cart-item__price {
  font-size: 2rem;
  color: var(--green);
  font-weight: bold;
  letter-spacing: 1.6px;
}

@media (max-width: 767px) {
  .cart-item__price--new,
  .cart-item__price {
    font-size: 1.7rem;
    letter-spacing: 1px;
  }
}

.cart-item__delete {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0.8rem;
}

.cart-item__delete:hover {
  transform: scale(1.1) rotate(10deg);
}

.cart-item__delete-icon {
  font-size: 3.1rem;
  color: var(--text);
}

@media (max-width: 767px) {
  .cart-item__delete-icon {
    font-size: 3.1rem;
  }
}

.cart-item__delete:hover .cart-item__delete-icon {
  color: red;
}

/* ---------------------------------------------------
  Voucher Section
--------------------------------------------------- */
.voucher {
  margin-top: 1rem;
  grid-row: 3;
}

.voucher__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

@media (max-width: 767px) {
  .voucher__title {
    font-size: 2.1rem;
  }
}

.voucher__input-wrapper {
  background-color: #757575;
  border-radius: 5px;
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 767px) {
  .voucher__input-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 0.75rem;
    height: auto;
    padding: 1rem;
  }
}

.voucher__label {
  font-size: 1.7rem;
  color: var(--text);
  font-weight: 600;
  line-height: 100%;
  margin-left: 1rem;
}

@media (max-width: 767px) {
  .voucher__label {
    grid-row: 1;
    margin-left: 0;
    text-align: center;
    font-size: 1.7rem;
  }
}

.voucher__input {
  background-color: #d9d9d9;
  border: none;
  padding: 1rem 1rem; 
  margin: 0;
  font-size: 1.5rem; 
  outline: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  border-radius: 3px;
}

@media (max-width: 767px) {
  .voucher__input {
    width: 100%;
    grid-row: 2;
  }
}

.voucher__button {
  background-color: var(--bg2);
  color: var(--text);
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1rem; 
  margin-right: 0.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 767px) {
  .voucher__button {
    width: 100%;
    grid-row: 3;
    margin-right: 0;
    padding: 0.8rem;
    font-size: 1.6rem;
  }
}

/* ---------------------------------------------------
  Cart Summary
--------------------------------------------------- */
.summary {
  grid-column: 2;
  grid-row: 2;
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #070F1A 24.74%, #225557 81.3%);
  border: 1.5px solid var(--green);
  border-radius: 5px;
  padding: 1.8rem; 
  height: auto;
  position: sticky;
  top: 1.5rem;
}

@media (max-width: 1024px) {
  .summary {
    min-height: auto;
  }
}

@media (max-width: 767px) {
  .summary {
    grid-column: 1;
    grid-row: 3;
    position: static;
    min-height: auto;
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 5rem;
  }
}

.summary__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.75rem;
  text-align: center;
}

.summary__details {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.summary__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem; 
  font-weight: 400;
}

.summary__label--full-price,
.summary__value--full-price {
  font-size: 1.6rem;
  font-weight: 700;
}

.summary__row--divider {
  padding-bottom: 1.25rem;
  border-bottom: 1px solid var(--text);
}

.summary__row--save {
  color: var(--green);
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--text);
}

.summary__row--total {
  font-size: 2.1rem;
  font-weight: 700;
  padding-top: 1rem;
}

.summary__value--total {
  color: var(--green);
  font-size: 2.2rem;
}

.summary__button {
  width: 100%;
  background-color: var(--green);
  color: var(--bg1);
  border: none;
  border-radius: 5px;
  padding: 1.5rem; 
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .summary__button {
    padding: 1.3rem;
    font-size: 1.6rem;
  }
}

.summary__button:active {
  transform: translateY(-1px);
}

.summary__button--paypal {
  background-color: var(--yellow-color);
  color: #008ED9;
}

.summary__terms {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  color: var(--text);
}

.summary__terms-text {
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.summary__link {
  color: var(--green);
  text-decoration: underline;
  transition: color 0.3s;
}

.summary__payment-title {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  background-color: #d9d9d9;
  color: var(--bg1);
}

.summary__payment-icon {
  height: 28px; 
  width: auto;
  object-fit: contain;
  background-color: var(--text);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  margin-bottom: 0.6rem;
  margin-right: 0.6rem;
}

.summary__payment-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .summary__payment-icons {
    padding-right: 0;
  }
}

/* ---------------------------------------------------
  Recommendation Section
--------------------------------------------------- */
.recommendations {
  margin-top: 5rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .recommendations {
    padding: 0 1rem;
  }
}

@media (max-width: 767px) {
  .recommendations {
    display: none;
  }
}

.recommendations__title {
  font-size: 2.9rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.recommendations__slider {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 50px;
}

.recommendations__arrow {
  background-color: var(--bg1);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
}

.recommendations__arrow i {
  font-size: 3.4rem;
  color: var(--green);
}

.recommendations__list {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  flex: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 12px;
}

.recommendations__list::-webkit-scrollbar {
  display: none;
}

/* ---------------------------------------------------
  Product Card
--------------------------------------------------- */
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 calc((100% - 6rem) / 4.5);
  min-width: calc((100% - 6rem) / 4.5);
  height: fit-content;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

@media (max-width: 1024px) {
  .product-card {
    min-width: calc((100% - 2rem) / 2.5);
    flex: 0 0 calc((100% - 2rem) / 2.5);
  }
}

@media (max-width: 767px) {
  .product-card {
    min-width: 26rem; 
    flex: 0 0 26rem;
  }
}

.product-card__image {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
  border-radius: 12px 12px 0 0;
  cursor: pointer;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  background: var(--bg1);
  border-radius: 0 0 12px 12px;
  position: relative;
  padding-bottom: 0.75rem; 
}

.product-card__price-wrapper {
  display: flex;
  align-items: center;
  background: var(--super-dark-green-color);
  justify-content: flex-start;
  height: 5rem; 
  padding-left: 1rem;
  color: var(--green);
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.product-card__price-wrapper .price {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.product-card__price-wrapper .price__discount {
  background-color: red;
  color: var(--text);
  font-size: 1.4rem;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 8px;
  flex-shrink: 0; 
}

.product-card__price-wrapper .price__values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.2;
}

.product-card__price-wrapper .price__original {
  color: var(--text);
  font-size: 1.2rem;
  text-decoration: line-through;
  font-weight: 400;
}

.product-card__price-wrapper .price__current {
  color: var(--green);
  font-size: 1.8rem;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .product-card__price-wrapper {
    height: 4rem; 
    padding-left: 0.75rem;
    font-size: 1.8rem;
  }
}

.product-card__add-cart {
  display: flex;
  align-items: center;
  background: var(--super-dark-green-color);
  justify-content: flex-start;
  width: 75%; 
  height: 5rem; 
  margin: 0 0 0 0.5rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card__add-cart:hover {
  background-color: var(--green);
}

@media (max-width: 1024px) {
  .product-card__add-cart {
    height: 4rem;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    width: 70%;
  }
}

.product-card__add-cart a {
  color: var(--text);
  margin-left: 0.25rem;
}

.product-card__wishlist {
  display: flex;
  position: absolute;
  right: 0rem;
  transform: none;
  bottom: 0.75rem;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  z-index: 2;
}

.product-card__wishlist .fa-heart {
  color: var(--text);
  font-size: 3rem;
}

@media (max-width: 1024px) {
  .product-card__wishlist {
    width: 4rem;
    height: 4rem;
    bottom: 0.75rem;
    right: 1.5rem;
  }
  
  .product-card__wishlist .fa-heart {
    font-size: 2.4rem;
  }
}

.product-card__wishlist .fa-heart:hover {
  color: var(--green);
}