/* ---------------------------------------------------
  Google Font Import
--------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* ---------------------------------------------------
  Reset & Base Styles
--------------------------------------------------- */
* {
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root {
  --green-color: #00e122;
  --dark-green-color: #225557;
  --black-color: #070f1a;
  --text-color: #ffffff;
  --super-dark-green-color: #0f232c;
  --red-color: #ff0000;
  --dark-blue-color: #070F1A;
  font-size: 8px;

  @media (max-width: 1024px) {
    font-size: 7.5px;
  }

  @media (max-width: 767px) {
    font-size: 7px;
  }
}

body {
  min-height: 300vh;
  color: var(--text-color);
  background-color: var(--black-color);
  background-image: linear-gradient(
    180deg,
    var(--black-color) 25%,
    var(--dark-green-color) 81%
  );

}

/* ---------------------------------------------------
  Main Content
--------------------------------------------------- */
.main {
  width: 100%;
  padding: 2rem 0;
  margin-top: 0;
}

.main__container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-template-rows: auto 1fr auto;
  gap: 2rem 6rem;
  padding-bottom: 10rem;
  border-bottom: 1px solid var(--dark-green-color);
  align-items: start;
}

@media (max-width: 1024px) {
  .main__container {
    grid-template-columns: 1fr 280px;
    gap: 2rem 3rem;
    padding: 0 2rem;
    padding-bottom: 8rem;
  }
}

@media (max-width: 767px) {
  .main__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto; 
    gap: 3rem 0;
    padding: 0 1.5rem;
    padding-bottom: 5rem;
    border-bottom: none;
  }
}

/* ---------------------------------------------------
  Cart Section
--------------------------------------------------- */
.cart {
  grid-column: 1;
  grid-row: 2 / span 2;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 2rem;
  height: 100%;
}

@media (max-width: 767px) {
  .cart {
    grid-column: 1;
    grid-row: 2;
  }
}

.cart__title {
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: 3.6rem;
  font-weight: 700;
  margin: 0.4rem;
}

@media (max-width: 767px) {
  .cart__title {
    text-align: center;
    font-size: 3rem;
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* ---------------------------------------------------
  Cart Item
--------------------------------------------------- */
.cart-item {
  background-color: var(--super-dark-green-color);
  border-radius: 5px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 120px 1fr auto auto;
  gap: 1.2rem;
  margin-bottom: 1.6rem;
  align-items: center;
  border: 2px solid transparent;
}

@media (max-width: 767px) {
  .cart-item {
    gap: 0.5rem 1rem;
    padding: 1rem;
  }
}

.cart-item__image {
  width: 120px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 767px) {
  .cart-item__info {
    gap: 0.5rem;
  }
}

.cart-item__title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color);
}

@media (max-width: 767px) {
  .cart-item__title {
    font-size: 1.8rem;
  }
}

.cart-item__genres {
  font-size: 1.3rem;
  color: var(--text-color);
}

.cart-item__release {
  font-size: 1.3rem;
  color: var(--text-color);
}

@media (max-width: 767px) {
  .cart-item__genres, .cart-item__release {
    font-size: 1.2rem;
  }
}

.cart-item__pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

@media (max-width: 767px) {
  .cart-item__pricing {
    gap: 0.8rem;
  }
}

.cart-item__discount {
  background-color: var(--red-color);
  color: var(--text-color);
  padding: 1rem 1rem;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1.2px;
}

@media (max-width: 767px) {
  .cart-item__discount { 
    font-size: 1.6rem; 
    padding: 0.5rem; 
    border-radius: 5px;
  }
}

.cart-item__price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: auto;
  padding: 1rem;
  gap: 0.5rem;
}

.cart-item__price--old {
  font-size: 1.4rem;
  color: var(--green-color);
  text-decoration: line-through;
}

.cart-item__price--new {
  font-size: 2.1rem;
  color: var(--green-color);
  font-weight: bold;
  letter-spacing: 1.6px;
}

.cart-item__price {
  font-size: 2.5rem;
  color: var(--green-color);
  font-weight: bold;
  letter-spacing: 1.6px;
}

@media (max-width: 767px) {
  .cart-item__price--new, .cart-item__price { 
    font-size: 1.8rem; 
    letter-spacing: 1px;
  }
}

.cart-item__delete {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  transition: all 0.3s;
  padding: 1.6rem;
}

@media (max-width: 767px) {
  .cart-item__delete {
    padding: 0.5rem;
  }
}

.cart-item__delete:hover {
  transform: scale(1.1) rotate(10deg);
}

.cart-item__delete-icon {
  font-size: 3.6rem;
  color: var(--text-color);
}

@media (max-width: 767px) {
  .cart-item__delete-icon {
    font-size: 4rem;
  }
}

.cart-item__delete:hover .cart-item__delete-icon {
  color: var(--red-color);
}

/* ---------------------------------------------------
  Voucher Section
--------------------------------------------------- */
.voucher {
  margin-top: 0;
}

.voucher__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .voucher__title {
    font-size: 2.4rem;
  }
}

.voucher__input-wrapper {
  height: 8rem;
  background-color: #757575;
  border-radius: 5px;
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 767px) {
  .voucher__input-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1.5rem;
    height: auto;
    padding: 2rem;
  }
}

.voucher__label {
  font-size: 2.4rem;
  color: var(--text-color);
  font-weight: 600;
  line-height: 100%;
  margin-left: 2rem;
}

@media (max-width: 767px) {
  .voucher__label {
    grid-row: 1;
    margin-left: 0;
    text-align: center;
    font-size: 2.5rem;
  }
}

.voucher__input {
  background-color: #d9d9d9;
  border: none;
  padding: 1.5rem 2rem;
  margin: 0;
  font-size: 1.8rem;
  outline: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 767px) {
  .voucher__input {
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-row: 2;
  }
}

.voucher__button {
  background-color: var(--dark-green-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin-right: 1rem;
  font-size: 2.4rem;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 767px) {
  .voucher__button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    grid-row: 3;
    margin-right: 0;
    padding: 1.5rem;
    font-size: 2rem;
  }
}

/* ---------------------------------------------------
  Cart Summary
--------------------------------------------------- */
.summary {
  grid-column: 2;
  grid-row: 2 / span 2;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, #070F1A 24.74%, #225557 81.3%);
  border: 1px solid var(--green-color);
  border-radius: 5px;
  padding: 2rem;
  height: auto;
}

@media (max-width: 1024px) {
  .summary {
    min-height: auto;
  }
}

@media (max-width: 767px) {
  .summary {
    grid-column: 1;
    grid-row: 3;
    position: static;
    min-height: auto;
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

.summary__title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  text-align: center;
}

.summary__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.summary__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.summary__label--full-price,
.summary__value--full-price {
  font-size: 2rem;
  font-weight: 700;
}

.summary__row--divider {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--text-color);
}

.summary__row--save {
  color: var(--green-color);
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-size: 1.8rem;
  border-bottom: 1px solid var(--text-color);
}

.summary__row--total {
  font-size: 2.4rem;
  font-weight: 700;
  padding-top: 1rem;
}

.summary__value--total {
  color: var(--green-color);
  font-size: 2.6rem;
}

.summary__button {
  width: 100%;
  background-color: var(--green-color);
  color: var(--black-color);
  border: none;
  border-radius: 12px;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .summary__button {
    padding: 1.8rem;
    font-size: 1.8rem;
  }
}

.summary__button:active {
  transform: translateY(-1px);
}

.summary__button--paypal {
  background-color: var(--yellow-color);
  color: #008ED9;
}

.summary__terms {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  color: var(--text-color);
}

.summary__terms-text {
  margin-bottom: 1rem;
  line-height: 1.4;
}

.summary__link {
  color: var(--green-color);
  text-decoration: underline;
  transition: color 0.3s;
}

.summary__payment-title {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  background-color: #d9d9d9;
  color: var(--black-color);
}

.summary__payment-icon {
  height: 40px;
  width: auto;
  object-fit: contain;
  background-color: var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
}

.summary__payment-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .summary__payment-icons {
     padding-right: 0;
     grid-template-columns: repeat(auto-fit, minmax(20px, 30px));
  }
}

/* ---------------------------------------------------
  Recommendation Section
--------------------------------------------------- */
.recommendations {
  margin-top: 10rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1024px) {
  .recommendations {
     padding: 0 2rem;
  }
}

@media (max-width: 767px) {
  .recommendations {
     padding: 0 1.5rem;
     margin-top: 5rem;
  }
}

.recommendations__title {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 5rem;
}

@media (max-width: 767px) {
  .recommendations__title {
    font-size: 3rem;
    text-align: left;
    margin-bottom: 3rem;
  }
}

.recommendations__slider {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 767px) {
  .recommendations__slider {
    position: relative;
    gap: 0;
  }
}

.recommendations__arrow {
  background-color: var(--dark-blue-color);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .recommendations__arrow {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(7, 15, 26, 0.8);
    width: 40px;
    height: 40px;
    margin: 0 1.5rem;
  }
}

.recommendations__arrow i {
  font-size: 3.6rem;
  color: var(--green-color);
}

@media (max-width: 767px) {
  .recommendations__arrow i {
     font-size: 2.5rem;
  }
  
  .recommendations__arrow-left {
    left: 0;
  }
  
  .recommendations__arrow-right {
    right: 0;
  }
}

.recommendations__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
}

@media (max-width: 1024px) {
  .recommendations__list {
    gap: 2rem;
  }
}

@media (max-width: 767px) {
  .recommendations__list {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 767px) {
  .recommendations__list::-webkit-scrollbar {
     display: none;
  }
}

/* ---------------------------------------------------
  Product Card
--------------------------------------------------- */
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

@media (max-width: 767px) {
  .product-card {
    flex-shrink: 0;
    width: 34rem; 
    scroll-snap-align: start;
  }
}

.product-card__image {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  background: var(--black-color);
}

.product-card__price-wrapper,
.product-card__add-cart {
  display: flex;
  align-items: center;
  background: var(--super-dark-green-color);
}

.product-card__price-wrapper {
  justify-content: flex-start;
  height: 6rem;
  padding-left: 2rem;
  color: var(--green-color);
  font-size: 2.5rem;
  font-weight: 800;
}

@media (max-width: 1024px) {
  .product-card__price-wrapper {
    height: 4rem;
    padding-left: 1rem;
    font-size: 2rem;
  }
}

.product-card__add-cart {
  justify-content: flex-start;
  width: 70%;
  height: 5rem;
  margin: 0.5rem auto 0.5rem 0.5rem;
  padding: 2rem;
  font-size: 2.2rem;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .product-card__add-cart {
    height: 4rem;
    padding: 1.5rem;
    font-size: 2rem;
  }
}

.product-card__add-cart a {
  color: var(--text-color);
  margin-left: 0.5rem;
}

.product-card__wishlist {
  display: flex;
  position: absolute;
  right: 5%;
  height: 5rem;
  bottom: 0.5rem;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.product-card__wishlist .fa-heart {
  color: var(--text-color);
  font-size: 4rem;
}

@media (max-width: 1024px) {
  .product-card__wishlist .fa-heart {
    font-size: 3rem;
  }
}

.product-card__add-cart a:hover,
.product-card__wishlist .fa-heart:hover {
  color: var(--green-color);
}
