/* ---------------------------------------------------
  Google Font Import
--------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* ---------------------------------------------------
  Reset & Base Styles
--------------------------------------------------- */
* {
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root {
  --green-color: #00e122;
  --dark-green-color: #225557;
  --black-color: #070f1a;
  --text-color: #ffffff;
  --super-dark-green-color: #0f232c;
  --bg1: #070F1A;
  --bg2: #225557;
  font-size: 10px;
}

body {
  color: var(--text-color);
  background-color: var(--black-color);
  background: linear-gradient(
    180deg,
    var(--black-color) 5%,
    #0b2a2e 45%,
    var(--dark-green-color) 95%
  );
  background-attachment: fixed;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 3rem;
}

.main__section{
  width: 1200px; 
  max-width: 100%;
  margin: 50px auto;
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.main__section .main__header{
  display: flex;
  padding-bottom: 9px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--dark-green-color);
  color: var(--text-color);
}

.main__title{
  color: var(--text-color);
  font-size: 1.9rem;
  font-weight: 700;
}

.main__search{
  background-color: var(--dark-green-color);
  padding: auto;
  border: 2px solid var(--green-color);
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  padding: 10.5px;
  width: 500px;
  font-size: 2rem;
}

.main__search-input{
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text-color);
}

.main__search-input::placeholder{
  color: var(--text-color);
}

.main__content{
  margin-top: 20px;
  display: flex;
}

.game__selections{
  width: 20%;
  margin-right: 5px;
}

.checkbox__label{
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border: 2px solid var(--green-color);
  border-radius: 2px;    
  background-color: var(--dark-green-color); 
  cursor: pointer;
  position: absolute;
  opacity: 0;
}


.checkbox__label::before{
  content: "";
  width: 1em;
  height: 1em;
  border: 2px solid var(--green-color);
  border-radius: 2px;
  margin-right: 4px;
}

.checkbox__label:hover::before,
input[type='checkbox']:hover + span::before{
  background-color: var(--green-color);
  border-color: var(--dark-green-color);
}

input[type='checkbox']:checked + span::before{
  content: '\002714';
  background-color: var(--green-color);
  border-color: var(--dark-green-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--super-dark-green-color);
}

.checkbox__label{
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: 500;
}

#good-old-games{
  background-color: var(--dark-green-color);
  padding: 5px 10px;
  text-align: center;
  border-radius: 3px;
  margin-top: -5px;
}

.title__selections{
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 4px;
}

.extend__selections{
  margin-top: 16px;
}

.extend__header {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.extend__header:hover {
  color: var(--green-color);
}

.extend__header .arrow {
  width: 16px;
  transition: transform 0.3s ease;
  filter: 
    invert(93%) 
    sepia(93%) 
    saturate(30%) 
    hue-rotate(143deg) 
    brightness(107%);
}

.extend__selections.open .arrow {
  transform: rotate(90deg);
}

.selections__container {
  display: none;
  margin-top: 16px;
}

.extend__selections.open .selections__container {
  display: block;
}

.price__range  {
    position: relative;
    width: 80%;
    height: 2px;
      margin: 25px auto 40px auto; /* add bottom margin */
    background-color: var(--green-color);
}



.price__range input {
    position: absolute;
    margin-bottom: 16px;
    width: 100%;
    background: none;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    appearance: none;
    outline: none;
    border: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: linear-gradient(
      to bottom,
      var(--super-dark-green-color),
      var(--dark-green-color)
    );
    pointer-events: auto;
    appearance: none;
    cursor: pointer;
}

.input-addon{
  font-weight: 600;
  font-size: 1.3rem;
}

.price__input-box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 18px;
}

.min-box,
.max-box {
  width: 40%;
}

.input-wrap {
  margin-top: 16px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--dark-green-color);
  height: 35px;
  transition: border-color 0.2s ease;
}

.input-wrap:focus-within {
  border-color: var(--text-color);
}

.input-addon {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--green-color);
  margin-right: 6px;
}

.input-field__min-input,
.input-field__max-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 600;
  text-align: right; 
  letter-spacing: 0.5px;
  padding-right: 5px;
}

#special{
  margin-top: 60px;
}

.result__selections{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.pagination__bar{
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.pagination__bar a{
  font-size: 2rem;
  color: var(--text-color);
}

.pagination__bar a:hover{
  color: var(--green-color);
}

.pagination__bar a:first-child{
  color: grey;
  margin-right: 15px;
}

.pagination__bar a:last-child{
  margin-left: 1.5rem;
}

.pagination__bar span{
  margin: 1rem;
}

.pagination__bar .current-page{
  color: var(--green-color)
}

.sort__dropdown button{
  background-color: transparent;
  color: var(--green-color);
  border: none;
  margin-left: 10px;
  font-size: 1.4rem;
  width: 100px;
  text-align: left;
  cursor: pointer;
}

.sort__bar{
  display: flex;
}

.sort__bar span{
  display: block;
}

.sort__selection{
  display: flex;
  font-size: 1.4rem;
  margin: auto;
}

.dropdown__container{
  position: absolute;
  margin-left: 10px;
  line-height: 1.6rem;
  z-index: 1000;
  background-color: var(--dark-green-color);
}

.dropdown__container a{
  color: var(--text-color);
}

.dropdown__container a:hover,
.dropdown__container a:active{
  color: var(--green-color);
}

.sort__mode{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
}

.grid-icon{
  width: 20px;
  filter: 
    invert(56%) 
    sepia(79%) 
    saturate(1987%) 
    hue-rotate(86deg) 
    brightness(102%) 
    contrast(112%);
}

.list-icon{
  width: 16px;
  filter: 
    invert(93%) 
    sepia(93%) 
    saturate(30%) 
    hue-rotate(143deg) 
    brightness(107%);
}

.list-icon:hover{
  filter: 
    invert(56%) 
    sepia(79%) 
    saturate(1987%) 
    hue-rotate(86deg) 
    brightness(102%) 
    contrast(112%);
}

.game-display__container{
  width: 80%;
}


.game-grid__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

#bottom.pagination__bar{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#bottom.pagination__bar a{
  font-size: 1.6rem;
  letter-spacing: 15px;
}

.game-card{
  border-radius: 5px;
}

.game-card__image{
  overflow: hidden;
}

.game-grid__container .game-card__image{
  height: 150px;
}

.game-card img{
  width: 100%;
  height: 100%;
  border-radius:5px 5px 0px 0px;
  vertical-align: middle;
  object-fit: cover;
}

.game-card__content{
  background-color: var(--black-color);
  z-index: 20;
}

.game-card__price-wrapper{
  background-color: var(--super-dark-green-color);
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.game-card__price-wrapper p{
  font-size: 2rem;
  font-weight: 700;
  color: var(--green-color);
}


.game-card__button{
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}

.game-card__add-to-cart{
  font-size: 1.8rem;
  color: var(--text-color);
  border: none;
  background-color: var(--super-dark-green-color);
  cursor: pointer;
  height: 4rem;
  text-align: left;
  padding-left: 20px;
  padding-right: 50px;
  box-shadow: 0px 4px 4px 0px black;
}

.game-card__add-to-cart:hover{
  color: var(--green-color);
  animation: bounce 0.4s ease-in-out infinite alternate;
}

.game-card__wishlist{
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: white;
  margin: auto;
  cursor: pointer;
}

.game-card__wishlist:hover,
.game-card__wishlist.active{
  color: red;
}

.game-card__wishlist:hover{
  animation: bounce 0.4s ease-in-out infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  } 
  100% {
    transform: translateY(-1px);
  }
}

@media (max-width: 1024px){
  .game-card__add-to-cart{
    height: 100%;
  }
}

@media (max-width: 768px){

  :root{
    font-size: 8px;
  }

  .main__header{
    margin: 30px 30px;
    justify-content: space-between;
    display: flex;
  }

  .main__section{
    margin: auto;
  }

  .game-grid__container{
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .game__selections{
    display: none;
  }

  .main__search{
    width: auto;
    margin: 0;
  }

  .main__content{
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .pagination__bar span{
    margin: .5rem;
  }

  .game-card__add-to-cart{
    padding: 5px;
  }

  .sort__mode{
    display: none;
  }

}
