.main__section{
  width: 1200px; 
  max-width: 100%;
  margin: 50px auto;
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.main__section .main__header{
  display: flex;
  padding-bottom: 9px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid var(--bg2);
  color: var(--text);
}

.main__title{
  color: var(--text);
  font-size: 1.9rem;
  font-weight: 700;
}

.main__search{
  background-color: var(--bg2);
  border: 2px solid var(--green);
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  padding: 10.5px;
  width: 500px;
  font-size: 2rem;
}

.main__search-input{
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--text);
}

.main__search-input::placeholder{
  color: var(--text);
}

.main__content{
  margin-top: 20px;
  display: flex;
}


#special{
  margin-top: 60px;
}

.result__selections{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
}

.pagination__bar{
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.pagination__bar a{
  font-size: 2rem;
  color: var(--text);
}

.pagination__bar a:hover{
  color: var(--green);
}

.pagination__bar a:first-child{
  color: grey;
}

.pagination__bar span{
  margin: 1rem;
}

.pagination__bar .current-page{
  color: var(--green)
}

.sort__dropdown button{
  background-color: transparent;
  color: var(--green);
  border: none;
  margin-left: 10px;
  font-size: 1.4rem;
  width: 100px;
  text-align: left;
  cursor: pointer;
}

.sort__bar{
  display: flex;
}

.sort__bar span{
  display: block;
}

.sort__selection{
  display: flex;
  font-size: 1.4rem;
  margin: auto;
}

.dropdown__container{
  position: absolute;
  margin-left: 10px;
  line-height: 1.6rem;
  z-index: 1000;
  background-color: var(--bg2);
}

.dropdown__container a{
  color: var(--text);
}

.dropdown__container a:hover,
.dropdown__container a:active{
  color: var(--green);
}

.sort__mode{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
}

.grid-icon{
  width: 20px;
  filter: 
    invert(56%) 
    sepia(79%) 
    saturate(1987%) 
    hue-rotate(86deg) 
    brightness(102%) 
    contrast(112%);
}

.list-icon{
  width: 16px;
  filter: 
    invert(93%) 
    sepia(93%) 
    saturate(30%) 
    hue-rotate(143deg) 
    brightness(107%);
}

.list-icon:hover{
  filter: 
    invert(56%) 
    sepia(79%) 
    saturate(1987%) 
    hue-rotate(86deg) 
    brightness(102%) 
    contrast(112%);
}

.game-display__container{
  width: 80%;
}


.game-grid__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

#bottom.pagination__bar{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#bottom.pagination__bar a{
  font-size: 1.6rem;
  letter-spacing: 15px;
}


@media (max-width:768px) {
  aside{
    display: none;
  }

  .main__search{
    display: none;
  }

  .game-display__container{
    width: 100%;
  }

  .game-grid__container{
    gap: 5px
  }
}

@media (max-width:320px) {
  .sort__mode{
    display: none;
  }
}