@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

/* Reset & Base */
* {
  font-family: "Roboto Flex", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --green-color: #00e122;
  --dark-green-color: #225557;
  --black-color: #070f1a;
  --text-color: #ffffff;
}

body {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8vh 1.2%;
  background-color: #0f232c;
  border-radius: 6px;
  width: clamp(320px, 30vw, 400px);
}
/* button phone-account and email-account */
.email__button-group {
  display: flex;
  gap: 10px;
  width: 100%;
}
/* general setting button */
.email__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5% 0%;
  background-color: var(--dark-green-color);
  color: var(--text-color);
  border-radius: 6px;
  font-size: clamp(13.2px, 2.4vw, 18px);
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.email__button--email {
  margin-left: 1.3%;
  box-shadow: 0px 5px 8px var(--green-color);
}

.email__button--phone {
  margin-right: 1.3%;
  box-shadow: 0px 5px 8px var(--black-color);
}
/* form */
.email__form {
  color: var(--text-color);
  font-size: clamp(12px, 2.4vw, 16.8px);
  font-weight: 600;
  width: 100%;
  padding: 0 1.2%;
  box-sizing: border-box;
}

.email__label {
  color: var(--text-color);
  font-size: clamp(13px, 2.4vw, 18px);
  font-weight: 700;
  margin: 5% 0 4% 0;
}

.email__input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  gap: 5px;
}
/* input */
.email__input {
  background-color: var(--dark-green-color);
  border: 1px solid var(--green-color);
  border-radius: 6px;
  width: 100%;
  height: 90%;
  padding: 2.4% 0%;
  font-size: clamp(12px, 2.4vw, 14.4px);
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.email__submit {
  width: 100%;
  padding: 3% 0%;
  background-color: var(--green-color);
  color: var(--text-color);
  border-radius: 6px;
  font-size: clamp(14px, 2.4vw, 18px);
  font-weight: 700;
  border: none;
}

.email__return {
  display: inline-block;
  font-size: clamp(7px, 3vw, 13px);
  color: var(--text-color);
  background: transparent;
  font-weight: 300;
  text-decoration: underline;
  border: none;
  margin-top: 12px;
}

/* Focus States */
.email__input:focus {
  outline: none;
  border: 2px solid var(--green-color);
  box-shadow: 0 0 4px var(--green-color);
}

/* Hover States */
.email__submit:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
  cursor: pointer;
}

.email__button:hover {
  box-shadow: 0px 5px 8px var(--green-color);
  transform: scale(1.05);
  filter: brightness(1.2);
}

.email__return:hover {
  color: var(--green-color);
  transform: scale(1.1);
}

.email__input:hover {
  filter: brightness(1.2);
  border: 2px solid var(--green-color);
}

/* Error  */
.email__label.error {
  color: #ff4d4d;
}

.email__input.error {
  border: 3px solid #ff4d4d;
  background-color: rgba(212, 14, 14, 0.1);
}

.email__error {
  color: #ff4d4d;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  text-align: left;
  align-self: flex-start;
  display: none;
}

.email__error.show {
  display: block;
}
/* mobile */
@media (max-width: 767px) {
  .email {
    padding: 2rem 1rem;
  }
}
