/* ---------------------------------------------------
  Google Font Import
--------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* ---------------------------------------------------
  Reset & Base Styles
--------------------------------------------------- */
* {
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-color: #00e122;
  --dark-green-color: #225557;
  --black-color: #070f1a;
  --text-color: #ffffff;
  --super-dark-green-color: #0f232c;
  --red-color: #ff0000;
  --dark-blue-color: #070F1A;
}

body {
  color: var(--text-color);
  background-color: var(--black-color);
  background-image: linear-gradient( 180deg, var(--black-color) 25%, var(--dark-green-color) 81% );
  line-height: 1.6;
}