.game-card{
  border-radius: 5px;
}

.game-card__image{
  height: 200px;
  overflow: hidden;
}

.game-card.large .game-card__image{
    height: 450px;
}

@media (max-width:768px) {
  .game-card.large .game-card__image{
    height: 250px;
  }
}

.game-card__image img{
  width: 100%;
  height: 100%;
  border-radius:10px 10px 0px 0px;
  vertical-align: middle;
  object-fit: cover;
}

.game-card__content{
  background-color: var(--bg1);
  border-radius: 0px 0px 10px 10px;
  z-index: 20;
}

.game-card__price-wrapper{
  background-color: var(--super-dark-green-color);
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.game-card__price-wrapper span{
  font-size: 2rem;
  font-weight: 700;
  color: var(--green);
}


.game-card__buttons{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: var(--text-color);
}

.game-card__add-cart{
  font-size: 1.8rem;
  color: var(--text-color);
  border: none;
  background-color: var(--super-dark-green-color);
  cursor: pointer;
  height: 4rem;
  text-align: left;
  padding-left: 20px;
  padding-right: 50px;
  box-shadow: 0px 4px 4px 0px black;
}

.game-card.large .game-card__add-cart{
    width: 400px;
}

.game-card.large .game-card__content{
    height: 145px;
}

.game-card.large .game-card__price-wrapper{
    height: 6rem;
}


.game-card.large .game-card__price span{
    font-size: 3rem;
}

.game-card.large .game-card__add-cart{
    height: 6rem;
    margin: 8px;
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.game-card .game-card__add-cart span{
  font-size: 2rem;
}

.game-card.large .game-card__add-cart span{
    font-size: 3rem;
}

.game-card.large .game-card__wishlist{
    font-size: 4rem;
}


.game-card__add-cart:hover{
  color: var(--green);
  animation: bounce 0.4s ease-in-out infinite alternate;
}

.game-card__wishlist{
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: white;
  margin: auto;
  cursor: pointer;
}

.game-card__wishlist:hover,
.game-card__wishlist.active{
  color: red;
  text-shadow: 0px 0px 15px red;
}

.game-card__wishlist:hover{
  animation: bounce 0.4s ease-in-out infinite alternate;
}

.game-card .game-card__image:hover img {
  transform: scale(1.01);
  transition: .5s;
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  } 
  100% {
    transform: translateY(-1px);
  }
}


@media (max-width:1024px) {
    .game-card{
        width: auto;
        height: auto;
    }

    .game-card__add-cart span{
        display: none;
    }

    .game-card__add-cart{
        width: 50%;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 0;
    }

    .game-card__wishlist{
        width: 50%;
    }
}


.game-card.small .game-card__image{
  height: 120px;
}

.game-card.small .game-card__price span{
  font-size: 1.5rem;
}

.game-card.small .game-card__price-wrapper{
  height: 35px;
}

.game-card.small .game-card__add-cart,
.game-card.small .game-card__add-cart span,
.game-card.small .game-card__wishlist{
  font-size: 1.3rem;
}