/* ---------------------------------------------------
  Google Font Import
--------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

/* ---------------------------------------------------
  Reset & Base Styles
--------------------------------------------------- */
* {
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;
}

:root {
  --green: #00e122;
  --black-color: #070f1a;
  --text: #ffffff;
  --super-dark-green-color: #0f232c;
  --bg1: #070f1a;
  --bg2: #225557;
  font-size: 10px;
}

body {
  font-family: "Roboto Flex", sans-serif;
  color: var(--text);
  background: linear-gradient(
    180deg,
    var(--bg1) 5%,
    #0b2a2e 45%,
    var(--bg2) 95%
  );
  background-attachment: fixed;
  overflow-x: hidden;
  margin: 0;
  justify-content: center;
  align-items: center;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main{
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

button{
    background: transparent;
    border: none;
}


button:hover{
  cursor: pointer;
}