/* Each section auto margin top by 50px */
section {
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}


.section-title__container{
  border-bottom: 2px solid var(--green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 1.3rem;
}

.section-title__container a{
  color: var(--text);
}

.section-title__container a:hover{
  color: var(--green);
}

.section-game-display__container{
  margin-top: 30px;
  display: flex;
  width: 100%;
}

.section__container#popular-games .section-game-display__container .left__container{
  width: 50%;
  margin-right: 10px;
}

.section__container#popular-games .section-game-display__container .right__container{
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.section__container#popular-games .extend__container{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px
}

@media (max-width:768px) {
  .section__container#popular-games .section-game-display__container {
    flex-direction: column;
  }

  .section__container#popular-games .section-game-display__container .left__container,
  .section__container#popular-games .section-game-display__container .right__container{
    width: 100%;
  }

  .section__container#popular-games .right__container{
    margin-top: 10px;
  }

  .section__container#popular-games .extend__container{
    display: none;
  }
}

.section__container#upcoming-games .section-game-display__container{
  padding-left: 50px;
  padding-right: 50px;
}

.section__container#upcoming-games .left__container{
  display: grid;
  grid-template-columns: 190px 190px;
  gap: 50px;
  margin-right: 50px;
}

.section__container#upcoming-games .right__container{
  width: 100%;
}

@media (max-width:1024px) {

  .section__container#upcoming-games .section-game-display__container{
    padding: 0 5px;
  }
  

  .section__container#upcoming-games .right__container{
    display: flex;
  }

  .section__container#upcoming-games .left__container{
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-right: 10px;
  }
}

@media (max-width:840px) {
  .section__container#upcoming-games .right__container{
    display: none;
  }


  .section__container#upcoming-games .left__container{
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding: 0;
  }
}

@media (max-width:415px) {
  .section__container#upcoming-games .left__container{
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}

.section__container#trending .section-game-display__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width:768px) {
  .section__container#trending .section-game-display__container{
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.section__container#best-sellers .section-game-display__container .section-game-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 20px;
  width: 60%;
}

.section__container#best-sellers .section-game-display__container .game-info__container{
  width: 40%;
}


@media (max-width:768px) {
  .game-info__container{
    display: none;
  }

  .section__container#best-sellers .section-game-display__container .section-game-list{
    width: 100%;
    padding: 0 10px;
  }
}
