@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

/* Reset & Base */

* {
  font-family: "Roboto Flex", sans-serif;
  text-decoration: none;
}

:root {
  --green-color: #00e122;
  --dark-green-color: #225557;
  --black-color: #070f1a;
  --text-color: #ffffff;
}

body {
  overflow: hidden;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8vh 1.2%;
  background-color: #0f232c;
  border-radius: 6px;
  width: clamp(320px, 30vw, 400px);
}

.login__button-group {
  display: flex;
  gap: 6px;
  width: 100%;
}

.login__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3% 0%;
  background-color: var(--dark-green-color);
  color: var(--text-color);
  border-radius: 6px;
  font-size: clamp(13.2px, 2.4vw, 18px);
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.login__button--signin {
  margin-left: 1.2%;
  box-shadow: 0px 3px 4.8px var(--green-color);
}

.login__button--register {
  margin-right: 1.2%;
  box-shadow: 0px 1.2px 4.8px var(--black-color);
}

.login__form {
  color: var(--text-color);
  font-size: clamp(12px, 2.4vw, 16.8px);
  font-weight: 600;
  width: 100%;
  padding: 0 1.2%;
  box-sizing: border-box;
}

.login__title {
  color: var(--text-color);
  font-size: clamp(15px, 2.4vw, 21px);
  font-weight: 700;
}

.login__input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(12px, 2.4vw, 15.6px);
  gap: 6px;
}

.login__label {
  width: 120px;
  flex-shrink: 0;
}

.login__input-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 150px;
  max-width: 270px;
  position: relative;
}

.login__input {
  background-color: var(--dark-green-color);
  border: 1px solid var(--green-color);
  border-radius: 6px;
  max-width: 270px;
  width: 100%;
  height: 90%;
  padding: 2.4% 0%;
  font-size: clamp(12px, 2.4vw, 14.4px);
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.login__submit {
  width: 100%;
  padding: 1.8% 0%;
  background-color: var(--green-color);
  color: var(--text-color);
  border-radius: 6px;
  font-size: clamp(18px, 2.4vw, 22.8px);
  font-weight: 700;
  border: none;
  transition: all 0.2s ease-in-out;
}

.login__forgot-password {
  display: inline-block;
  font-size: clamp(7.2px, 1.8vw, 12px);
  color: var(--text-color);
  background: transparent;
  font-weight: 500;
  text-decoration: underline;
  border: none;
  margin-top: 7.8px;
}

.login__divider {
  font-size: clamp(18px, 1.8vw, 22.8px);
  color: var(--text-color);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login__divider::before,
.login__divider::after {
  content: "";
  flex: 1;
  border-bottom: 1.2px solid var(--text-color);
  margin: 3% 1.26%;
  padding: 0 1.8%;
}

.login__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(320px, 30vw, 450px);
  width: 97%;
  gap: 18%;
  margin-top: 1.2%;
  background-color: var(--dark-green-color);
  padding: 1.2% 1.2%;
  border-radius: 6px;
  box-sizing: border-box;
}

.login__social-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.login__social-icon {
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.login__submit:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
  cursor: pointer;
}

.login__button:hover {
  box-shadow: 0px 3px 4.8px var(--green-color);
  transform: scale(1.05);
  filter: brightness(1.2);
}

.login__forgot-password:hover {
  color: var(--green-color);
  transform: scale(1.05);
}

.login__social-btn:hover .login__social-icon {
  transform: scale(1.2);
}

::placeholder {
  font-family: "Roboto Flex", sans-serif;
  font-size: clamp(7.2px, 1.8vw, 12px);
}

input {
  color: var(--text-color);
  font-family: "Roboto Flex", sans-serif;
}

.login__input:hover {
  filter: brightness(1.2);
  border: 2px solid var(--green-color);
}

.login__input:focus {
  outline: none;
  border: 1.2px solid var(--green-color);
  box-shadow: 0 0 2.4px var(--green-color);
}

/* Error styling cho input */
.login__label.error {
  color: #ff4d4d;
}

.login__input.error {
  border: 1.8px solid #ff4d4d;
  background-color: rgba(212, 14, 14, 0.1);
}

.login__error {
  color: #ff4d4d;
  font-size: 10.8px;
  font-weight: 600;
  margin-top: 3px;
  text-align: left;
  align-self: flex-start;
  display: none;
}

.login__error.show {
  display: block;
}
