body {
    margin: 0;
    font-family: system-ui;
    background-image: url('../sources/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

@keyframes myFlown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.logo {
    display: block;
    max-width: 900px;
    width: 100%;
    height: auto; 
    margin-bottom: 40px;
}

.neon-btn {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #00eaff, #ff00ff);
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    display: block;
    margin: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.neon-btn::before {
    content: "";
    position: absolute;
    inset: 3px; 
    background: rgba(10, 15, 28, 0.95); 
    border-radius: 10px;
    z-index: 1;
}

.neon-btn span {
    position: relative;
    z-index: 2;
}

.neon-btn:hover {
    box-shadow: 0 0 20px #00eaff, 0 0 40px #ff00ff;
    transform: scale(1.05);
}

.title{
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 224, 255, 0.6), 0 0 20px rgba(0, 224, 255, 0.4);
    letter-spacing: 2px;
}
