@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* Reset & Base */
* {
  font-family: 'Roboto Flex', sans-serif;
  text-decoration: none;
}

:root {
  --green-color: #00e122;
  --dark-green-color: #225557;
  --black-color: #070f1a;
  --text-color: #ffffff;
  --super-dark-green-color: #0f232c;
}

body{  
    overflow: hidden;                   
    background-color: transparent;           
    display: flex;                 
    justify-content: center;       
    align-items: center;
    height: 100vh; 
    background-color: var(--dark-green-color);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0% 5% 0%;
    gap: 10px;
    background-color: #0F232C;
    border-radius: 10px;
    width: 90%;         
    max-width: 800px;
    height: auto;
    transform: scale(0.6);
    transform-origin: center center;
}

.button-group{
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 720px;
    padding: 0 2%;
    box-sizing: border-box;
}

.phone-account {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: var(--dark-green-color);
    color: var(--text-color);
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    box-shadow: 0px 5px 8px var(--green-color);
}

.email-account{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: var(--dark-green-color);
    color: var(--text-color);
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    box-shadow: 0px 5px 8px var(--black-color);
}

.reset-form{
    font-size: 24px;
    color: var(--text-color);
    font-weight: 500;  
    gap: 5px;
    width: 100%;
    max-width: 720px;
    padding: 0 2%;
    box-sizing: border-box;

}

.reset-form label {
    margin-top: 20px;;
    margin-bottom: 20px;
    display: block;
}

.phone-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-container input {
  border: 1px solid var(--green-color);
  border-radius: 5px;
  background-color: var(--dark-green-color);
  color: var(--text-color);
  font-size: 18px;
  outline: none;
  height: 60px ;
}

.country-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-green-color);
  border: 1px solid var(--green-color);
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  min-width: 80px;
  height: 60px;
  box-sizing: border-box;
  margin-right: 10px;
}

.country-select img {
  width: 28px;
  height: 20px;
  border-radius: 3px;
  margin-right: 5px;
}

.country-select .code {
  color: var(--text-color);
  font-weight: 600;
}

.country-list {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  display: none;
  background-color: #0F232C;
  border: 1px solid var(--green-color);
  border-radius: 8px;
  position: absolute;
  z-index: 100;
  width: 200px;
  pointer-events: auto;
}

.country-list.show {
  display: block;
}

.country-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  color: var(--text-color);
  cursor: pointer;
}

.country-list li:hover {
  background-color: var(--dark-green-color);
}

.submit{
    width: 100%;
    max-width: 720px;
    height: 70px;
    padding: 0 2%;;
    background-color: var(--green-color);
    color: var(--text-color);
    border-radius: 10px; 
    font-size: 30px;
    font-weight: 700;
    border: none;
    margin-top: 30px;
}

.return-signin{
    display: inline-block;
    font-size: 20px;
    color: var(--text-color);
    background: transparent;
    font-weight: 300;  
    text-decoration: underline;
    border: none;
    margin-top: 20px;
}

.reset-form input:focus {
  outline: none;
  border: 2px solid var(--green-color);
  box-shadow: 0 0 4px var(--green-color); 
}

.submit:hover {
  background-color: var(--green-color);
  filter: brightness(1.2);
  transform: scale(1.05); 
  cursor: pointer;
}

.email-account:hover, .phone-account:hover{
  box-shadow: 0px 5px 8px var(--green-color);
  transform: scale(1.05);
  filter: brightness(1.2);
}

.return-signin:hover{
  color: var(--green-color);
  transform: scale(1.1);
}

.input-container input:hover{
  background-color: var(--dark-green-color);
  filter: brightness(1.2);
  border: 2px solid var(--green-color);
}

.reset-form label.error {
  color: #ff4d4d;
}

/* Error styling cho input */
.reset-form input.error {
  border: 3px solid #ff4d4d;
  background-color: rgba(212, 14, 14, 0.1);
}

.error-message {
  color: #ff4d4d;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
  text-align: left; 
  align-self: flex-start; 
  display: none;
}

.error-message.show{
  display: block;
}