@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

/* Reset & Base */
* {
  font-family: "Roboto Flex", sans-serif;
  text-decoration: none;
}

:root {
  --green-color: #00e122;
  --dark-green-color: #225557;
  --black-color: #070f1a;
  --text-color: #ffffff;
  --super-dark-green-color: #0f232c;
}

/* phone-account box */
.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8vh 1.2%;
  background-color: #0f232c;
  border-radius: 6px;
  width: clamp(320px, 30vw, 400px);
}
/* button phone-account and email-account */
.phone__button-group {
  display: flex;
  gap: 6px;
  width: 100%;
}
/* general setting button */
.phone__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4% 0%;
  background-color: var(--dark-green-color);
  color: var(--text-color);
  border-radius: 6px;
  font-size: clamp(13.2px, 2.4vw, 18px);
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.phone__button--phone {
  margin-right: 1.3%;
  box-shadow: 0px 3px 4.8px var(--green-color);
}

.phone__button--email {
  margin-left: 1.3%;
  box-shadow: 0px 5px 8px var(--black-color);
}
/* form */
.phone__form {
  color: var(--text-color);
  font-size: clamp(12px, 2.4vw, 16.8px);
  font-weight: 600;
  width: 100%;
  padding: 0 1.2%;
  box-sizing: border-box;
}

.phone__label {
  color: var(--text-color);
  font-size: clamp(15px, 2.4vw, 21px);
  font-weight: 700;
  margin: 3% 0;
}

.phone__input-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

.phone__input-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
/* input */
.phone__input {
  background-color: var(--dark-green-color);
  border: 1px solid var(--green-color);
  border-radius: 6px;
  width: 100%;
  height: 90%;
  padding: 2.4% 0%;
  font-size: clamp(12px, 2.4vw, 14.4px);
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
  padding-left: 5px;
}
/* custome select country */
.phone__country-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-green-color);
  border: 1px solid var(--green-color);
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  height: 90%;
  padding: 2% 2%;
  box-sizing: border-box;
  margin-right: 10px;
}
/* flag country */
.phone__country-flag {
  width: 22px;
  height: 18px;
  border-radius: 3px;
  margin-right: 5px;
}

.phone__country-code {
  color: var(--text-color);
  font-weight: 600;
}

.phone__country-list {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  display: none;
  background-color: #0f232c;
  border: 1px solid var(--green-color);
  border-radius: 8px;
  position: absolute;
  z-index: 100;
  width: 200px;
  pointer-events: auto;
}
/* hide box select */
.phone__country-list.show {
  display: block;
}

.phone__country-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  color: var(--text-color);
  cursor: pointer;
}

.phone__country-item:hover {
  background-color: var(--dark-green-color);
}

.phone__submit {
  width: 100%;
  padding: 3% 0%;
  background-color: var(--green-color);
  color: var(--text-color);
  border-radius: 6px;
  font-size: clamp(14px, 2.4vw, 18px);
  font-weight: 700;
  border: none;
}

.phone__return {
  display: inline-block;
  font-size: clamp(7px, 4vw, 13px);
  color: var(--text-color);
  background: transparent;
  font-weight: 300;
  text-decoration: underline;
  border: none;
  margin-top: 12px;
}

/* Hover States */
.phone__input:focus {
  outline: none;
  border: 2px solid var(--green-color);
  box-shadow: 0 0 4px var(--green-color);
}

.phone__submit:hover {
  background-color: var(--green-color);
  filter: brightness(1.2);
  transform: scale(1.05);
  cursor: pointer;
}

.phone__button:hover {
  box-shadow: 0px 5px 8px var(--green-color);
  transform: scale(1.05);
  filter: brightness(1.2);
}

.phone__return:hover {
  color: var(--green-color);
  transform: scale(1.1);
}

.phone__input:hover {
  filter: brightness(1.2);
  border: 2px solid var(--green-color);
}

/* Error */
.phone__label.error {
  color: #ff4d4d;
}

.phone__input.error {
  border: 3px solid #ff4d4d;
  background-color: rgba(212, 14, 14, 0.1);
}

.phone__error {
  color: #ff4d4d;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  text-align: left;
  align-self: flex-start;
  display: none;
}

.phone__error.show {
  display: block;
}
/* mobile */
@media (max-width: 767px) {
  .phone {
    padding: 2rem 0.5rem;
  }
}
