/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

/* Reset & Base */

* {
  font-family: "Roboto Flex", sans-serif;
  text-decoration: none;
}

:root {
  --green-color: #00e122;
  --dark-green-color: #225557;
  --black-color: #070f1a;
  --text-color: #ffffff;
}

body {
  overflow: hidden;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8vh 1.2%;
  background-color: #0f232c;
  border-radius: 6px;
  width: clamp(320px, 30vw, 400px);
}
/* button register and login */
.register__button-group {
  display: flex;
  gap: 6px;
  width: 100%;
}
/* general setting button */
.register__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3% 0%;
  background-color: var(--dark-green-color);
  color: var(--text-color);
  border-radius: 6px;
  font-size: clamp(13.2px, 2.4vw, 18px);
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.register__button--register {
  margin-right: 1.2%;
  box-shadow: 0px 3px 4.8px var(--green-color);
}

.register__button--signin {
  margin-left: 1.2%;
  box-shadow: 0px 1.2px 4.8px var(--black-color);
}

.register__heading {
  color: var(--text-color);
  font-size: clamp(15px, 3%, 18px);
  width: 100%;
  text-align: left;
  padding-left: 3%;
}
/* register with social */
.register__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(300px, 30vw, 400px);
  width: 97%;
  gap: 18%;
  background-color: var(--dark-green-color);
  padding: 1.2% 1.2%;
  border-radius: 6px;
  box-sizing: border-box;
}

.register__social-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.register__social-icon {
  max-width: 30px;
  max-height: 30px;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.register__divider {
  font-size: clamp(18px, 1.8vw, 22.8px);
  color: var(--text-color);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register__divider::before,
.register__divider::after {
  content: "";
  flex: 1;
  border-bottom: 1.2px solid var(--text-color);
  margin: 6% 1.26%;
  padding: 0 1.8%;
}
/* form */
.register__form {
  color: var(--text-color);
  font-size: clamp(12px, 2.4vw, 16.8px);
  font-weight: 600;
  width: 100%;
  padding: 0 1.2%;
  box-sizing: border-box;
}

.register__input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(12px, 2.4vw, 15.6px);
  gap: 6px;
}

.register__label {
  width: 138px;
  flex-shrink: 1;
  margin-right: -6%;
}

.register__input-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 138px;
  max-width: 270px;
  position: relative;
}
/* input */
.register__input {
  background-color: var(--dark-green-color);
  border: 1px solid var(--green-color);
  border-radius: 6px;
  width: clamp(320px, 30vw, 450px);
  width: 100%;
  height: 90%;
  padding: 2.4% 0%;
  font-size: clamp(12px, 2.4vw, 14px);
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.register__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.register__terms-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.register__terms-text {
  flex-grow: 1;
  min-width: 0;
  font-size: clamp(7px, 2vw, 12px);
  font-weight: 400;
}

.register__confirm {
  margin: 1.8% 0;
  width: 100%;
}
/* custom checkbox */
.register__checkbox-custom {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  background-color: transparent;
  border: 1.2px solid var(--green-color);
  border-radius: 3px;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s ease-in-out;
}

.register__checkbox:checked
  + .register__terms-label
  .register__checkbox-custom::after {
  content: "";
  width: 4.8px;
  height: 10.8px;
  border: solid var(--green-color);
  border-width: 0 3px 3px 0;
  position: absolute;
  top: 1.2px;
  left: 6px;
  transform: rotate(45deg);
}

.register__submit {
  width: 100%;
  padding: 1.8% 0%;
  background-color: var(--green-color);
  color: var(--text-color);
  border-radius: 6px;
  font-size: clamp(18px, 3vw, 23px);
  font-weight: 700;
  border: none;
  transition: all 0.2s ease-in-out;
}

/* Hover Effects */
.register__social img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.register__button:hover {
  box-shadow: 0px 3px 4.8px var(--green-color);
  transform: scale(1.05);
  filter: brightness(1.2);
}

.register__input:hover {
  border: 1.2px solid var(--green-color);
  filter: brightness(1.2);
}

.register__input:focus {
  outline: none;
  border: 1.2px solid var(--green-color);
  box-shadow: 0 0 2.4px var(--green-color);
}

.register__submit:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
  cursor: pointer;
}

.register__terms-label:hover .register__checkbox-custom {
  border-color: var(--green-color);
  box-shadow: 0 0 3.6px var(--green-color);
  filter: brightness(1.2);
}

/* Error  */
.register__label.error {
  color: #ff4d4d;
}

.register__input.error {
  border: 1.8px solid #ff4d4d;
  background-color: rgba(212, 14, 14, 0.1);
}

.register__error {
  color: #ff4d4d;
  font-size: 10.8px;
  font-weight: 500;
  margin-top: 3px;
  text-align: left;
  align-self: flex-start;
  display: none;
}

.register__error.show {
  display: block;
}

.register__checkbox.error + .register__terms-label .register__checkbox-custom {
  border-color: #ff4d4d;
  background-color: rgba(212, 14, 14, 0.1);
}

/* placeholder and input syle */
::placeholder {
  font-family: "Roboto Flex", sans-serif;
  font-size: clamp(7.2px, 1.8vw, 12px);
}

input {
  color: var(--text-color);
  font-family: "Roboto Flex", sans-serif;
}
/* mobile */
@media (max-width: 767px) {
  .register {
    padding: 2rem 1rem;
  }
}
