.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8vh 1.2%;
  background-color: #0f232c;
  border-radius: 6px;
  width: clamp(320px, 30vw, 400px);
}
/* button register and login */
.register__button-group {
  display: flex;
  gap: 6px;
  width: 100%;
}
/* general setting button */
.register__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 3% 0%;
  background-color: var(--bg2);
  color: var(--text);
  border-radius: 6px;
  font-size: clamp(13.2px, 2.4vw, 18px);
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.register__button--register {
  margin-right: 4%;
  box-shadow: 0px 3px 4.8px var(--green);
}

.register__button--signin {
  margin-left: 4%;
  box-shadow: 0px 1.2px 4.8px var(--bg1);
}

.register__heading {
  color: var(--text);
  font-size: 14px;
  width: 100%;
  text-align: left;
  padding-left: 4%;
  padding-bottom: 5%;
  padding-top: 7%;
}
/* register with social */
.register__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(300px, 1vw, 400px);
  width: 94%;
  gap: 17%;
  margin-top: 1.2%;
  background-color: var(--bg2);
  padding: 2% 1.2%;
  border-radius: 6px;
  box-sizing: border-box;
}

.register__social-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.register__social-icon {
  max-width: 25px;
  max-height: 25px;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.register__divider {
  font-size: clamp(18px, 1.8vw, 22.8px);
  color: var(--text);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register__divider::before,
.register__divider::after {
  content: "";
  flex: 1;
  border-bottom: 1.2px solid var(--text);
  margin: 8% 4%;
  padding: 0 1.8%;
}
/* form */
.register__form {
  color: var(--text);
  font-size: clamp(12px, 2.4vw, 16.8px);
  font-weight: 600;
  width: 100%;
  padding: 1% 4%;
  box-sizing: border-box;
}

.register__input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(12px, 2.4vw, 15.6px);
  gap: 6px;
}

.register__label {
  width: 120px;
  flex-shrink: 0;
  font-size: 12px;
}

.register__input-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 138px;
  max-width: 270px;
  position: relative;
}
/* input */
.register__input {
  background-color: var(--bg2);
  border: 1px solid rgba(0, 225, 34, 0.6);
  border-radius: 6px;
  max-width: 270px;
  padding: 4% 0%;
  font-size: clamp(12px, 2.4vw, 14.4px);
  color: var(--text);
  transition: all 0.2s ease-in-out;
  padding-left: 5px;
}

.register__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.register__terms-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.register__terms-text {
  flex-grow: 1;
  min-width: 0;
  font-size: clamp(7px, 2vw, 10px);
  font-weight: 400;
}

.register__terms-text u {
  text-decoration: underline;
}

.register__confirm {
  margin: 1.8% 0;
  width: 100%;
}
/* custom checkbox */
.register__checkbox-custom {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  background-color: transparent;
  border: 1.2px solid var(--green);
  border-radius: 3px;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s ease-in-out;
}

.register__checkbox:checked
  + .register__terms-label
  .register__checkbox-custom::after {
  content: "";
  width: 3px;
  height: 6px;
  border: solid var(--green);
  border-width: 0 3px 3px 0;
  position: absolute;
  top: 1.2px;
  left: 5px;
  transform: rotate(45deg);
}

.register__submit {
  width: 100%;
  padding: 1.8% 0%;
  background-color: var(--green);
  color: var(--text);
  border-radius: 6px;
  font-size: clamp(18px, 3vw, 23px);
  font-weight: 700;
  border: none;
  transition: all 0.2s ease-in-out;
  margin-top: 3%;
}

/* Hover Effects */
.register__social img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.register__button:hover {
  box-shadow: 0px 3px 4.8px var(--green);
  transform: scale(1.05);
  filter: brightness(1.2);
}

.register__input:hover {
  border: 1.2px solid var(--green);
  filter: brightness(1.2);
}

.register__input:focus {
  outline: none;
  border: 1.2px solid var(--green);
  box-shadow: 0 0 2.4px var(--green);
}

.register__submit:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
  cursor: pointer;
}

.register__terms-label:hover .register__checkbox-custom {
  border-color: var(--green);
  box-shadow: 0 0 3.6px var(--green);
  filter: brightness(1.2);
}

/* Error  */
.register__label.error {
  color: #ff4d4d;
}

.register__input.error {
  border: 1.8px solid #ff4d4d;
  background-color: rgba(212, 14, 14, 0.1);
}

.register__error {
  color: #ff4d4d;
  font-size: 10.8px;
  font-weight: 500;
  margin-top: 3px;
  text-align: left;
  align-self: flex-start;
  display: none;
}

.register__error.show {
  display: block;
}

.register__checkbox.error + .register__terms-label .register__checkbox-custom {
  border-color: #ff4d4d;
  background-color: rgba(212, 14, 14, 0.1);
}

/* placeholder and input syle */
::placeholder {
  font-family: "Roboto Flex", sans-serif;
  font-size: clamp(7.2px, 1.8vw, 12px);
}

/* mobile */
@media (max-width: 767px) {
  .register {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .register {
    padding: 3rem 1rem;
  }
}
