img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 3rem;
}

/*wishlist*/
.wishlist-page__container {
  width: 1100px;
  max-width: 100%;
  margin: auto;
  padding: 0px 1.5rem;
}

/* profile bar */
.profile-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0 25px 0;
}

.profile-bar__info {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.profile-bar__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid var(--green);
}

.profile-bar__text {
  display: flex;
  flex-direction: column;
}

.profile-bar__wishlistname {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
}

.profile-bar__fullname {
  font-size: 16px;
  color: var(--text);
}

.profile-bar__signout {
  color: #ffffff;
  text-decoration: underline;
  font-size: 15px;
  cursor: pointer;
}

.profile-bar__signout:hover {
  color: var(--green);
}

/* wishlist navigation */
.wishlist-nav {
  border-top: 2px solid rgba(0, 225, 34, 0.35);
  border-bottom: 2px solid rgba(0, 225, 34, 0.35);
  padding: 18px 0;
  margin-bottom: 35px;
}

.wishlist-nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Link */
.wishlist-nav__link {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  text-decoration: none;
  color: var(--text);
  font-size: 15px;
  font-weight: 500;
  transition: 0.25s;
}

/* Icon */
.wishlist-nav__link img {
  width: 42px;
  height: 42px;
  opacity: 0.85;
  transition: 0.25s;
}

/* Hover */
.wishlist-nav__link:hover span {
  color: var(--green);
}

.wishlist-nav__link:hover img {
  transform: scale(1.1);
}

/* Active */
.wishlist-nav__link--active span {
  color: var(--green);
  font-weight: 700;
}

.wishlist-nav__link--active img {
  opacity: 1;
  filter: brightness(1.7) saturate(1.4);
}

/*wishlist introduce*/
.wishlist-introduce {
  display: flex;
  width: 1300px;
  max-width: 100%;
  justify-content: center;
  margin: auto;
  padding: 0 1.5rem;
}
.wishlist-introduce__wrapper {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  gap: 5rem;
  margin-top: 3rem;
  width: 100%;
  align-items: center;
  background-color: var(--bg2);
  box-shadow: 0px 5px 5px var(--green);
}
/* Hear in introduce */
.wishlist-introduce__heart {
  display: flex;
  align-items: center;
}

.wishlist-introduce__heart img {
  width: 25rem;
  height: 25rem;
  filter: drop-shadow(0 -15px 15px var(--green));
}
/* content in introduce */
.wishlist-introduce__content {
  color: var(--text);
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 300;
}
.wishlist-introduce__content .highlight {
  color: var(--green);
  font-size: clamp(2rem, 2vw, 3.5rem);
  font-weight: 700;
}
/* img in introduce */
.wishlist-introduce__images {
  display: flex;
  position: relative;
  flex-shrink: 0;
  width: 30rem;
  height: 20rem;
}

.wishlist-introduce__images img {
  width: 15rem;
  height: 10rem;
  border-radius: 5px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0 0 15px var(--green));
}
#game-img-1 {
  top: 50px;
  left: -40px;
  z-index: 30;
}

#game-img-2 {
  top: 10px;
  left: -5px;
  z-index: 20;
}

#game-img-3 {
  top: 50px;
  left: 50px;
  z-index: 10;
}

/*wishlist add*/

.wishlist-add {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  padding: 0 1.5rem;
}

.wishlist-add__divider {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  color: var(--green);
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--green);
  font-weight: 400;
}
/* animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.wishlist-item-box {
  display: grid;
  grid-template-columns: 2fr minmax(100px, 1fr) 1.5fr;
  align-items: center;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #1d4a4d;
  margin-bottom: 4rem;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.profile-bar,
.wishlist-nav,
.wishlist-introduce,
.wishlist-item-box,
.whislist-add__button,
.genres__grid {
  animation: fadeInUp 1.2s ease-out backwards;
}
.profile-bar {
  animation-delay: 0.1s;
}

.wishlist-nav {
  animation-delay: 0.2s;
}

.wishlist-introduce {
  animation-delay: 0.3s;
}

.wishlist-add__divider {
  animation-delay: 0.4s;
}

.wishlist-item-box:nth-of-type(1) {
  animation-delay: 0.5s;
}

.wishlist-item-box:nth-of-type(2) {
  animation-delay: 0.6s;
}

.whislist-add__button {
  animation-delay: 0.7s;
}
.genres__title {
  animation-delay: 0.8s;
}

.genres__grid {
  animation-delay: 0.9s;
}

/* hide after click */
.wishlist-item-box.is-hiding {
  opacity: 0;
}
/* product */
.wishlist-item-box__product {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.wishlist-item-box__image {
  width: 200px;
  height: 100px;
  border-radius: 4px;
}

.wishlist-item-box__details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.wishlist-item-box__title {
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--text);
}

.wishlist-item-box__info {
  font-size: 1.5rem;
  color: var(--text);
}

.wishlist-item-box__release-date {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  color: var(--text);
}

.wishlist-item-box__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 1rem;
}

/* price box */
.wishlist-item-box__price-tag {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.discount-percent {
  background-color: #ff0e02;
  color: var(--text);
  font-weight: bold;
  padding: 0.6rem 0.6rem;
  border-radius: 7px;
  font-size: 1.6rem;
  flex-shrink: 0;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price-original {
  color: var(--green);
  text-decoration: line-through;
  font-size: 1.4rem;
}

.price-sale {
  color: var(--green);
  font-weight: bold;
  font-size: 1.7rem;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wishlist-item-box__button {
  background-color: var(--green);
  color: var(--text);
  font-weight: bold;
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  transition: 0.3s;
  font-size: 1.6rem;
}
.wishlist-item-box__button:hover {
  filter: brightness(1.2);
}
/* style after click add to cart */
.wishlist-item-box__button.button--clicked {
  background-color: var(--bg1);
  filter: none;
  cursor: default;
}

/* Override hover and active states  */
.wishlist-item-box__button.button--clicked:hover,
.wishlist-item-box__button.button--clicked:active {
  background-color: var(--bg1);
  filter: none;
  transform: scale(1);
}
.wishlist-item-box__remove-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.wishlist-item-box__remove-icon:hover {
  transform: scale(1.05);
}

.whislist-add__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #757575;
  color: var(--text);
  font-size: clamp(2rem, 3vw, 2.5rem);
  font-weight: 700;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.whislist-add__button img {
  width: 50px;
  height: 50px;
}

.whislist-add__button:hover {
  cursor: pointer;
}

/*Slider*/

.genres {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  padding: 0 1.5rem;
}

.genres__title {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  padding: 2rem 0;
  color: var(--text);
  font-weight: 700;
}

.genres__grid {
  position: relative;
  height: 350px;
}
.fa-angle-left,
.fa-angle-right,
#slider-prev,
#slider-next {
  background-color: var(--super-dark-green-color);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  position: absolute;
  top: 45%;
  cursor: pointer;
  flex-shrink: 0;
  transition: all 0.2s ease;
  font-size: 24px;
  color: var(--green);
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.fa-angle-left:hover,
.fa-angle-right:hover,
#slider-prev:hover,
#slider-next:hover {
  background-color: var(--green);
  color: var(--bg1);
  transform: scale(1.1);
}

.fa-angle-left,
#slider-prev {
  left: 7rem;
}

.fa-angle-right,
#slider-next {
  right: 7rem;
}

.game-card {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.5s ease;
}

.game-card:hover {
  cursor: pointer;
}
/* Slider Product Price & Discount */
.game-card__image {
  width: 100%;
  height: auto;
  display: block;
  line-height: 0;
}

.game-card__content {
  background-color: var(--bg1);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.game-card__price-wrapper {
  color: var(--green);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: left;
  background-color: var(--super-dark-green-color);
  height: 6rem;
  padding-left: 1.5rem;
  align-items: center;
}

.game-card__add-cart {
  background-color: var(--super-dark-green-color);
  width: 70%;
  font-size: 1.8rem;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.game-card__add-cart a {
  color: var(--text);
  margin-left: 0.5rem;
}

.game-card__add-cart:hover {
  background-color: var(--green);
  cursor: pointer;
  transform: scale(1.05);
}

.game-card__wishlist {
  background: none;
  border: none;
  position: absolute;
  bottom: 1rem;
  right: 5%;
  color: var(--text);
}

.game-card__wishlist .fa-heart {
  font-size: 4rem;
  margin-right: -0.4rem;
}

.game-card__wishlist .fa-heart:hover {
  color: var(--green);
  cursor: pointer;
  transform: scale(1.1);
}

.game-card.active {
  visibility: visible;
  transform: translate(-50%, -50%);
  z-index: 3;
}
/* Slider Navigation Arrows */
.game-card.prev {
  visibility: visible;
  transform: translate(-160%, -50%);
  opacity: 1;
  z-index: 2;
}

.game-card.next {
  visibility: visible;
  transform: translate(60%, -50%);
  opacity: 1;
  z-index: 2;
}

.game-card.prev-2 {
  visibility: hidden;
  transform: translate(-200%, -50%);
  opacity: 0;
  z-index: 1;
}

.game-card.next-2 {
  visibility: hidden;
  transform: translate(150%, -50%);
  opacity: 0;
  z-index: 1;
}
/* Tablet */
@media screen and (max-width: 1024px) and (min-width: 767px) {
  /* Nav */
  .wishlist-nav__link img {
    width: 4.5rem;
    height: 4.5rem;
  }
  .wishlist-nav__link {
    font-size: 15px;
  }
  /* introduce */
  .wishlist-introduce__heart img {
    width: 18rem;
    height: 18rem;
  }
  .wishlist-introduce__content {
    font-size: 1.5rem;
  }
  .wishlist-introduce__content .highlight {
    font-size: 3rem;
  }
  .wishlist-introduce__images {
    width: 22rem;
    height: 17rem;
  }
  /* wishlist box */
  .wishlist-item-box__button {
    font-size: 13px;
  }
  .whislist-add__button {
    font-size: clamp(1.5rem, 3vw, 2rem);
  }

  .whislist-add__button img {
    width: 35px;
    height: 35px;
  }

  .whislist-add__button:hover {
    transform: scale(1.05);
    background-color: var(--green);
    font-size: 2.2rem;
  }

  .wishlist-item-box__remove-icon {
    width: 25px;
    height: 25px;
  }
  /* slider */
  .game-card.prev {
    transform: translate(-110%, -50%);
    opacity: 1;
  }
  .game-card.next {
    transform: translate(10%, -50%);
    opacity: 1;
  }
  .game-card.active,
  .game-card.prev-2,
  .game-card.next-2 {
    transform: translate(-50%, -50%) scale(0.7);
    visibility: hidden;
    opacity: 0;
  }
  .fa-angle-left {
    left: 5rem;
  }

  .fa-angle-right {
    right: 5rem;
  }
}

/* Mobile */
@media (max-width: 767px) {
  /* profile information */
  .profile-bar__info img {
    width: 5rem;
    height: 5rem;
  }
  .profile-bar__username {
    font-size: 18px;
  }
  /* nav */
  .wishlist-nav__link {
    font-size: 12px;
  }

  .wishlist-nav {
    margin-bottom: 4rem;
  }
  .wishlist-nav__link img {
    width: 3rem;
    height: 3rem;
  }
  /* introduce */
  .wishlist-introduce {
    display: none;
  }
  .wishlist-add__divider {
    border-bottom: none;
    margin-bottom: 1rem;
    margin-top: -2rem;
    font-size: 2rem;
  }
  /* wishlist box */
  .wishlist-item-box {
    display: block;
  }
  .wishlist-item-box__product {
    display: block;
  }
  .wishlist-item-box__release-date {
    display: none;
  }
  .wishlist-item-box__actions {
    display: block;
  }
  .wishlist-item-box__image {
    max-width: 700px;
    width: 100%;
    height: auto;
    gap: 0.5rem;
    margin-bottom: 1.2rem;
  }
  .wishlist-item-box__price-tag {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .wishlist-item-box__title {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .wishlist-item-box__info {
    font-size: 15px;
    margin-bottom: 0.4rem;
  }
  .discount-percent {
    font-size: 16px;
  }
  .price-container label {
    font-size: 18px;
    gap: 0.6rem;
    margin-bottom: 3px;
  }
  .price-container .price-original {
    font-size: 14px;
  }
  .wishlist-item-box__button {
    font-size: 16px;
  }
  .whislist-add__button img {
    width: 30px;
    height: 30px;
  }
  .whislist-add__button {
    font-size: 1.8rem;
  }
  .whislist-add__button:hover {
    font-size: 1.8rem;
  }
  .genres__title {
    font-size: 20px;
  }
  /* slider */
  .game-card.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .game-card.prev,
  .game-card.next,
  .game-card.prev-2,
  .game-card.next-2 {
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
  }

  .genres__grid {
    height: 400px;
  }
  .fa-angle-left::before,
  .fa-angle-right::before {
    position: relative;
    top: 7px;
    left: 1px;
  }
  .fa-angle-left {
    left: 2.5rem;
  }
  .fa-angle-right {
    right: 2.5rem;
  }
  .game-card__add-cart {
    font-size: 1.6rem;
  }
  .game-card__wishlist .fa-heart {
    font-size: 3.5rem;
    margin-bottom: 0.2rem;
  }
}
